<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Password Reset</title>
</head>
<body>

<h2>Welcome to The Password Reset Page</h2>
<hr>
<h3 th:text="${message}"></h3>
<form th:action="@{/resetPassword}"  method="post">
    <!-- render CSRF token only when available -->
    <div th:if="${_csrf != null}">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    </div>
    <label for="email">Email:</label>
    <br>
    <input type="text" id="email" name="email" required>
    <br><br>
    <button type="submit">Send otp</button>
</form>

</body>
</html>
