
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Payment Proof</title>
</head>
<body>
<h3>Scan this QR for payment</h3>
<img th:src="@{/images/qr_code.png}" width="auto" height="400" alt="QR Code"/>

<h2>Please provide the transaction ID with additional details...</h2>

<!--<form th:action="@{/ProofUploading}" th:object="${paymentProof}" method="post">-->
<!--    &lt;!&ndash; Hidden userId &ndash;&gt;-->
<!--    <input type="hidden" name="userId" th:value="${userId}">-->

<!--    &lt;!&ndash; Transaction ID &ndash;&gt;-->
<!--    <label for="transactionId">Transaction ID:</label><br>-->
<!--    <input type="text" id="transactionId" th:field="*{transactionId}" required><br><br>-->

<!--    <button type="submit">Submit</button>-->
<!--</form>-->
</body>
</html>